<script src="{{"/assets/vendor/jquery/jquery.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" | relative_url }}"></script>
<script src="{{"/assets/vendor/startbootstrap-clean-blog/js/clean-blog.min.js" | relative_url }}"></script>
<script src="{{"/assets/scripts.js" | relative_url }}"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-67996697-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-67996697-1');
</script>

{% if page.url contains 'contact' %}
  <script>
    $(function () {
      $("a[data-toggle=\"tab\"]").click(function (e) {
        e.preventDefault();
        $(this).tab("show");
      });
    });

    /*When clicking on Full hide fail/success boxes */
    $('#name').focus(function () {
      $('#success').html('');
    });
  </script>
{% endif %}
