{{ define "main" }}
<header class="masthead" style="background-image: url('/img/bg-post.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="page-heading">
          <h1>{{ .Title }}</h1>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ range .Pages }}
      <article class="post-preview">
        <a href="{{ .RelPermalink }}">
          <h2 class="post-title">{{ .Title }}</h2>
          {{ if .Params.subtitle }}
          <h3 class="post-subtitle">{{ .Params.subtitle }}</h3>
          {{ else }}
          <h3 class="post-subtitle">{{ .Summary | plainify | truncate 100 }}</h3>
          {{ end }}
        </a>
        <p class="post-meta">Posted by
          {{ with .Params.author }}{{ . }}{{ else }}{{ $.Site.Params.author }}{{ end }}
          on {{ .Date.Format "January 02, 2006" }}</p>
      </article>
      <hr>
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
